<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css" />
    <title>Document</title>
  </head>
  <body>
    <form action="/" method="post">
      <input type="text" name="name" required placeholder="name" />
      <input type="text" name="age" placeholder="age" />
      <label for="birthday">Birthday:</label>
      <input type="date" name="dob" required />
      <button type="submit">submit</button>
    </form>

    <table>
      <tr>
        <th>Name</th>
        <th>Age</th>
        <th>DOB</th>
        <th>operations</th>
      </tr>
      <%result.map(x=>{%> <%let name=x.name%> <%let date = x.dob%> <%let
      dob=date.toString().slice(4,15)%>

      <tr>
        <td><%=name%></td>
        <td><%=x.age%></td>
        <td><%=dob%></td>
        <td><a href="/update/<%=x.id%>">Update</a></td>
        <td><a href="/<%=x.id%>">Delete</a></td>
      </tr>

      <%})%>
    </table>
  </body>
</html>
